* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	background-color: #eaf4ff;
	color: #114229;
}

body h1 {
	margin: 30px 0;
}

.textinput {
	width: 1000px;
	height: 50px;
	font-size: 24px;
	border: 3px solid #add6ff;
}

.form {
	text-align: center;
	font-size: 28px;
}

#submit {
	font-size: 20px;
	padding: 5px 15px;
	background-color: #dedede;
	font-weight: bold;
}

table {
	margin: 70px 30px;
}

@media only screen and (max-width: 500px) {
	.textinput {
		width: 500px;
	}
}

@media only screen and (max-width: 350px) {
	.textinput {
		width: 300px;
	}
}