{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>FindBook by Michael S</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
	<h1>FindBook</h1>
	<div class="form">
		{% csrf_token %}
		{{ form.as_p }}
		<br>
		<button type="submit" name="submit" id="submit">Search</button>
	</div>

	<table id="searchResult" cellpadding="0" cellspacing="0"></table>

	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>